name: Build and Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and Test
        uses: dagger/dagger-for-github@v8.2.0
        with:
          call: build-and-test
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
